@import "tailwindcss";
.input-field {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  .input-field:focus {
    border-color: #3b82f6;
  }
  